/*#36393b, #fec0aa, #ec4e20, #84732b, #dcf2b0*/

section.nav-wrapper {
    display: block;
    height: 17vh;
    width: auto;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fec0aa;
    margin: 10px;
}

header {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: #ec4e20;
    font-weight: 500;
    font-size: 17px;
    align-items: center;
    justify-content: flex-end;
    height: 75px;
    margin: 12px;
    padding: 20px;
}

.header-text {
   text-decoration: none;
    color: #ec4e20;
    font-weight: 500;
    font-size: 17px;
    padding: 7px;
}

.header-text:hover {
  cursor: pointer;
}

button {
    background-color: #dcf2b0;
    color: #36393b;
    font-size: medium;
}

button:hover {
   cursor: pointer;
}

.title-link {
    position:relative;
    right: 40%;
    font-size: 1.84em;
    font-weight: 250;
    text-decoration: none;
}

.title-link:hover {
    cursor: pointer;
}

a.create-post-link {
    text-decoration: none;
    color: #ec4e20;
    font-weight: 500;
    font-size: 17px;
    margin-right:15px;
}

a.create-post-link:hover {
    cursor: pointer;
}