/*#36393b, #fec0aa, #ec4e20, #84732b, #dcf2b0*/

section.nav-wrapper {
    display: block;
    height: 100vh;
    width: auto;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

header {
    display: flex;
    flex-direction: row;
    color:#36393b;
    align-items: center;
    justify-content: flex-end;
    height: 75px;
    margin: 12px;
    padding: 20px;
}

.header-text {
    text-decoration: none;
    color: #84732b;
    font-weight: bold;
    padding: 7px;
    text-shadow: 2px 1px 8px #36393b;

}

button {
    background-color: #dcf2b0;
    color: #36393b;
    font-size: medium;

}

.title-link {
    position:relative;
    right: 25%;
    font-size: 1.84em;
    font-weight: 250;
    text-decoration: none;
}


.title-link:hover {
    cursor: pointer;
}