/*#36393b, #fec0aa, #ec4e20, #84732b, #dcf2b0*/
App {
  /* background-color: #36393b; */
  background-image: url('./components/img/background.png');
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #dcf2b0;
  text-align: center;
}

.create-post {
  background-color: #dcf2b0;
  color: #36393b;
}
